.table .th{
    font-weight: 600; font-size: 40px ;
    text-align: center;
}
#tableid th {
    font-weight: 600; font-size: 30px ;
    text-align: center;
};

#tableid td{
    font-weight: 600; font-size: 20px ;
    text-align: center;
}
