

<div class="container-fluid" id="main-div">
    <app-header></app-header>
      <nav class="navbar navbar-expand-lg" style="height: 30px; box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25); background-color: #f5f5f5;">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <i class="fa fa-home" aria-hidden="true" style="margin: 6px; font-size: 1rem;">
        </i>
           <span>Orders/Order Details</span>     
      </nav>
  
      
  <div style="height: calc(100% - 127px); background-color: #F2EFEF; overflow-y: hidden; overflow-x: hidden; padding: 0 1rem;">
  
    <div class="row" style="height: 15%;margin-bottom: 0.5rem; margin-left: 0.5px;margin-top: 10px;">
      <div  class="myclass"  style="height: 100%;background-color: #fff; width: 100%; border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;display: inline;">
          <div class="row" style="width: 100%;height: 100%;">
            <div class="col-sm-2 col-md-2 col-lg-2;text-align:right;">
              <div class="row">
                 <div class="col-sm-4 col-md-4 col-lg-4">
                   <div class="iconicclass" style="padding-left: 75%;text-align: right;" >
                     <fa-icon [icon]="['fas', 'clipboard-list']" size="3x"
                      style="color:#004a7f;display: inline;"></fa-icon>
                  </div>
                 </div>
                 <div class="col-sm-8 col-md-8 col-lg-8" style="margin-top: 10px;text-align: left;">
                  <span style="font-weight: 550;font-size: 25px;">OrdersDetails</span> 
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"style="text-align: center;">
                  <span style="font-weight: 500;font-size: 20px;"><b>1470355</b></span> 
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-top:-6px">
                  <span style="font-weight: 500;font-size: 18px;">OrderNumber</span> 
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"style="text-align: center;">
                  <span style="font-weight: 500;font-size: 20px;"><b>5525</b></span> 
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-top:-6px">
                  <span style="font-weight: 500;font-size: 18px;">Quantity</span> 
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"style="text-align: center;">
                  <span style="font-weight: 500;font-size: 20px;"><b>3 Mins</b></span> 
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-top:-6px">
                  <span style="font-weight: 500;font-size: 18px;">Cycletime</span> 
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"style="text-align: center;">
                  <span style="font-weight: 500;font-size: 20px;"><b>2CDS201156R2234</b></span> 
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-top:-6px">
                  <span style="font-weight: 500;font-size: 18px;">Id Number</span> 
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"style="text-align: center;">
                  <span style="font-weight: 500;font-size: 20px;"><b>3887</b></span> 
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-top:-6px">
                  <span style="font-weight: 500;font-size: 18px;">GoodCount</span> 
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-1 col-md-1 col-lg-1">
              
            </div>
             -->
        </div>      
      </div>      
   </div>
  
  
    <div class="row" style="height: 25%;margin-bottom: 0.5rem;margin-left: 0.5px;">
      <div  class="myclass"style="height: 100%;width:100%;background-color: #fff;  border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;display:inline">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;padding-top: 25%;">
              <span style="font-weight: 500;font-size: 18px;"><b>01-01-2019 06:30am</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;"> Start Time</span> 
              </div>
          </div>
      <div class="col-sm-8 col-md-8 col-lg-8" >

        <div style="height: 30%;width: 100%;">
          <div class="row">
            <div class="machineclass" style="width: 20%; padding-top: 1%; ">
              <label> Preassembly machine</label>
            </div>
            <div class="machineclass" style="width: 20%; padding-top: 1%; ">
              <label> finalassembly machine</label>
            </div>
            <div class="machineclass" style="width: 20%; padding-top: 1%; ">
              <label> Switching & Calibration</label>
            </div>
            <div class="machineclass" style="width: 20%; padding-top: 1%;text-align: center; ">
              <label> Thermal</label>
            </div>
            <div class="machineclass" style="width: 20%; padding-top: 1%;text-align: center; ">
              <label> Magnatic & HV</label>
            </div>
          </div>
        </div>
        <div style="width: 100%;height: 70%;">
        <div style=" width: 100%; height: 100%; display:inline-flex; padding: 0.5rem; flex-direction: row; justify-content: center; align-items: center;">
            <div style="background-color: #f5f5f5; width: 50%; height: 2%; z-index: 1; position: absolute;">
             
            </div>
             
            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 13%; height: 100%; margin-right: 0.3rem; z-index: 2;">
               <p style="font-weight: 600;font-size: 20px;text-align: center;padding-top: 10%;"> 2.1 sec </p>
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 8%; height: 60%; margin-right: 0.3rem;">
            
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 13%; height: 100%; margin-right: 0.3rem;">
              <p style="font-weight: 600;font-size: 20px;text-align: center;padding-top: 8%;"> 2.1 sec </p>
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 8%; height: 60%; margin-right: 0.3rem;">
                  
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 13%; height: 100%; margin-right: 0.3rem;">
              <p style="font-weight: 600;font-size: 20px;text-align: center;padding-top: 8%;"> 2.1 sec </p>
            </div>

            <div class="divclass"style="background-color: #f5f5f5; border-radius: 100%; width: 8%; height: 60%; margin-right: 0.3rem;">
            
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 13%; height: 100%; margin-right: 0.3rem;">
              <p style="font-weight: 600;font-size: 20px;text-align: center;padding-top: 8%;"> 2.1 sec </p>
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 8%; height: 60%; margin-right: 0.3rem;">
            
            </div>

            <div class="divclass" style="background-color: #f5f5f5; border-radius: 100%; width: 13%; height: 100%; margin-right: 0.3rem;">
              <p style="font-weight: 600;font-size: 20px;text-align: center;padding-top: 10%;"> 2.1 sec </p>
            </div>
            
          </div>
        </div>
        <div class= "col-sm-12 col-md-12 col-lg-12">

        </div>
     </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;padding-top: 25%;">
            <span style="font-weight: 500;font-size: 18px;"><b>01-01-2020 06:30am</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">End Time</span> 
            </div>
        </div>
        </div>
      </div>       
    </div>

    <div class="row" style="height: 12%;margin-left: 0.5px;margin-bottom: 0.5rem; ">
      <div  class="myclass" style="height: 100%;width: 100%;background-color: #fff;  border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;">
        <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="buttonclass" style="padding:16px">
        <button type="button" class="btn btn-primary btn-md" onclick="firstbutton()" style="background-color:#22696b ;">Details </button>
        <button type="button" class="btn btn-primary btn-md" onclick="secondbutton()"style="background-color:white;color:Black">Data Matrix</button>
        </div> 
      </div> 
      <div class="col-sm-3 col-md-3 col-lg-3" >
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">Total Ok</span> 
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align:center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 18px;display: inline;">Rejections</span> 
                </div>
              </div>
        </div>
      </div>
    </div>
      </div>
  </div>
  <div class="row"*ngIf = "firstbuttonclicked==true" style="height: 40.5%;margin-left: 0.5px; ">
    <div  class="myclass" style="height: 100%;width: 32.5%;background-color: #fff;  border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;">
        <div class="header" style="text-align: center;">
            <label style="font-weight: 600;font-size: 25px;">Online</label>
          </div>
          <div class="row" style="width: 100%;margin-left: 0.1rem;">
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 20px;">Infeed</span> 
                </div>
              </div>
             
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 20px;">OK</span> 
                </div>
              </div>
             
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 20px;">NOK</span> 
                </div>
              </div>
              
             
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 20px;">Rejections</span> 
                </div>
              </div>
             
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 18px;"><b>06-12-2020 12:01 PM</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 20px;">Start</span> 
                </div>
              </div>
             
            <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
                <span style="font-weight: 500;font-size: 18px;"><b>06-12-2020 12:01 PM</b></span> 
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
                <span style="font-weight: 500;font-size: 20px;">End</span> 
                </div>
              </div>
             
       </div>
    </div>
    <div  class="myclass" style="height: 100%;width: 32.5%;background-color: #fff;  border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;">
      <div class="header" style="text-align: center;">
          <label style="font-weight: 600;font-size: 25px;">Repass</label>
        </div>
        <div class="row" style="width: 100%;margin-left: 0.1rem;">
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">Infeed</span> 
              </div>
            </div>
           
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">OK</span> 
              </div>
            </div>
           
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">NOK</span> 
              </div>
            </div>
           
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">Rejections</span> 
              </div>
            </div>
           
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 18px;"><b>06-12-2020 12:01 PM</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">Start</span> 
              </div>
            </div>
           
          <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
              <span style="font-weight: 500;font-size: 18px;"><b>06-12-2020 12:01 PM</b></span> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
              <span style="font-weight: 500;font-size: 20px;">End</span> 
              </div>
            </div>
           
     </div>
  </div>
  <div  class="myclass" style="height: 100%;width: 32.5%;background-color: #fff;  border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;">
    <div class="header" style="text-align: center;">
        <label style="font-weight: 600;font-size: 25px;">Rework</label>
      </div>
      <div class="row" style="width: 100%;margin-left: 0.1rem;">
        <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
            <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">Infeed</span> 
            </div>
          </div>
         
        <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
            <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">OK</span> 
            </div>
          </div>
         
        <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
            <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">NOK</span> 
            </div>
          </div>
         
        <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
            <span style="font-weight: 500;font-size: 20px;"><b>2323</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">Rejections</span> 
            </div>
          </div>
         
        <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
            <span style="font-weight: 500;font-size: 18px;"><b>06-12-2020 12:01 PM</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">Start</span> 
            </div>
          </div>
         
        <div class="col-md-6 col-sm-6 col-lg-6" style="text-align: center;">
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;">
            <span style="font-weight: 500;font-size: 18px;"><b>06-12-2020 12:01 PM</b></span> 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-top:-6px">
            <span style="font-weight: 500;font-size: 20px;">End</span> 
            </div>
          </div>
         
   </div>
</div>
</div>
<div class="row"  *ngIf = "secondbuttonclicked==true" style="height: 40.5%;margin-left: 0.5px; ">
  <div  class="myclass" style="height: 100%;width: 32.5%;background-color: #fff;  border-radius: 8px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0.5rem;">
      <div class="header" style="text-align: center;height: 25%;">
          <label style="font-weight: 600;font-size: 25px;">Online</label>
        </div>
  </div>
</div>

  </div>
  <app-footer></app-footer>
  </div>
  