 .button1 {
    background-color: #22696B;
    border-radius: 6px;
    padding-right: 20px;
    

}
 .button2 {
    background-color: white;
    border-radius: 12px;

}
.verticalLine {
    border-left: thick solid #ff0000;
    height: 100%
  }
  .ordersclass{
      text-align: center;
      width: 50%;
      padding-top: 2rem

  }
  
#rework .p{
    font-weight: 600;font-size: 20px;
}

#tabletop .th{
    padding-top: 0.5rem;
}